* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  background-image: linear-gradient(#e5e7eb 2px, transparent 2px),
    linear-gradient(90deg, #e5e7eb 2px, transparent 2px);
  background-size: 60px 60px;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  position: relative;
}

table {
  width: 1400px;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.5);
}

th,
td {
  width: 50%;
  height: 140px;
  border: 1.5px solid black;
  font-size: 1.5rem;
}

th {
  text-align: center;
}

td {
  padding: 0 0 0 110px;
  text-align: left;
}

.good {
  background-color: rgb(185, 243, 180);
}

.bad {
  background-color: rgb(243, 180, 180);
}

.table-data-icon {
  width: 60px;
  vertical-align: middle;
  margin-right: 12px;
}

.website-name-title {
  font-size: 5rem;
  display: flex;
}

.yelp_logo {
  width: 15rem;
  margin: 0 16px 0 16px;
}

.caption,
.label {
  font-size: 2rem;
  margin: 0.5% 0 0.5% 0;
}

.card {
  font-size: 1.5rem;
}

.takeaway-caption {
  width: 50%;
  vertical-align: middle;
  margin: 0.5% auto;
}

section > *:not(.section-title-container) {
  margin: auto;
}

.section-title-container {
  text-align: center;
}

.row-icon-label-container {
  display: flex;
  align-items: baseline;
  gap: 10rem;
}

.icons-label-container {
  text-align: center;
}

.illustration {
  width: 400px;
}

.yelp_small_icon {
  width: 40px;
  margin-left: -4px;
}

.section-title {
  font-size: 4rem;
}

.row-card-container {
  display: flex;
  gap: 5%;
}

.references-link-container {
  display: flex;
  flex-direction: column;
}

.card {
  width: 500px;
  height: 550px;
  margin: 1rem auto;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  gap: 5%;
  border: 1px solid;
  box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.5);
}

.card-icon {
  width: 200px;
}

.yelp_link {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

.pattern_link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

a:not(.yelp_link, .pattern_link) {
  font-size: 1.3rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
