* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
}

/* Content */
/* 1st page:  */
/* .first-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.website-name-title {
  font-size: 5rem;
  display: flex;
}

.yelp_logo {
  width: 15rem;
  margin: 0 16px 0 16px;
}

/* 2nd page:  */
.caption,
.label {
  font-size: 1.5rem;
  margin-top: 0.5%;
}

section > *:not(.section-title-container) {
  margin: auto;
}

.section-title-container {
  text-align: center;
}

.row-icon-label-container {
  display: flex;
  align-items: baseline;
  gap: 10rem;
}

.icons-label-container {
  text-align: center;
}

.icon {
  /* width: 150%; */
  /* height: 150%; */
  width: 400px;
}

/* 3rd page:  */

/* 4th page:  */

/* 5th page:  */

/* 6th page:  */

.section-title {
  font-size: 4rem;
  /* margin-bottom: 0.5%; */
}

/* section:nth-child(odd) {
  background-color: lightblue;
}

section:nth-child(even) {
  background-color: lightgreen;
} */

.row-card-container {
  display: flex;
  gap: 5%;
}

/* .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 500px;
  height: 600px;
} */

.card {
  /* width: 200px;
  height: 250px; */
  width: 500px;
  height: 550px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-front {
  /* background: white; */
  background: rgb(167, 53, 53);
  border: 1px solid #e5e7eb;
}

.card-back {
  background: #97caf1;
  color: white;
  transform: rotateY(180deg);
}
